<h2>Sobre el taller</h2>

<p>Texto de introduccion...</p>


<h3>Nuestras clases y nuestros profes!</h3>

<p>Clases de instrumento y sus respectivos profesores...</p>

<img src="" alt="imagen1">
<img src="" alt="imagen2">

<h3>Nuestras actividades</h3>

<p>resumen de las actividades que se realizan...</p>

<a href="/galeria" class="btn">Mira nustras actividades!</a>