<h2>Contacto</h2>

<h3>Podes venir a nuestro taller!!</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.636270485159!2d-64.21779171114503!3d-31.451679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a39c4e96b4cf%3A0x279954782ccda321!2sArmonia%20Escuela%20de%20Musica!5e0!3m2!1ses!2sar!4v1767503367542!5m2!1ses!2sar" width="100%" height="300"></iframe>

<h3>O contactanos por Whatsapp!!!</h3>

<a href="https://wa.me/5493513642351" target="_blank">Ir al chat!!</a>


<h3>Tambien podes hacer tu consulta por la pagina!! Y nos comunicaremos con vos!!</h3>

<form action="/contacto" method="POST">
    <div>
        <label>Nombre:</label>
        <input type="text" name="name" required>
    </div>
    
    <div>
        <label>Email:</label>
        <input type="text" name="email" required>
    </div>

    <div>
        <label>Telefono:</label>
        <input type="number" name="phone" required>
    </div>
    
    <div>
        <label>Consulta:</label>
        <textarea name="message" required></textarea>
    </div>

    <div>
        <button type="submit">Enviar</button>
    </div>
</form>

