<div>
  <div>
    <h3>Armonía</h3>
    <p>Taller de música</p>
  </div>

  <div>
    <p>
      ©
      {{year}}
      Armonía – Todos los derechos reservados
    </p>
    <p class="footer-powered">
      Powered by
      <a
        href="https://github.com/TomasGon1"
        target="_blank"
        rel="noopener"
      ><strong>Tomás Gonzalez</strong></a>
    </p>
  </div>
</div>